
<div class="widthclass">
  <p >This is first workgraph</p>
  <fusioncharts
  width="80%" 
  height="450"
  type="pie3d"
  dataFormat="json"
  [dataSource]="dataSource" 
></fusioncharts>


<div >
  <p >This is second workgraph</p>
 </div>
 <fusioncharts
 width="80%" 
 height="450"
 type="stackedcolumn2d"
 dataFormat="json"
 [dataSource]=dataSource1 >
</fusioncharts>
  <div >
    <p >This is third workgraph</p>
   </div>

   <fusioncharts
   width="700"
   height="400"
   type="Column2d"
   [dataSource]="dataSource3">
</fusioncharts>

</div>
